.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-primary-background);

    img {
        max-width: 36px;
        max-height: 36px;
    }
    &__left {
        display: flex;
        padding-left: 16px;
        align-items: center;
        gap: 12px;
        &__name-description-group {
            font-size: 1.3rem;
            &__name-group {
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        &__invite {
            opacity: 0.7;
            cursor: pointer;
            height: 100%;
            align-items: center;
            justify-content: center;
            display: flex;

            span {
                display: flex;
                padding-left: 4px;
                height: 100%;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        &__other {
            cursor: pointer;
            padding: 8px 12px;
            background-color: var(--color-primary-background);
            outline: invert;
            border-radius: 8px;
            border: none;
            color: white;
            font-size: 1.4rem;
            transition: all 0.3s linear;

            &:hover {
                background: white;
                color: black;
            }
        }

        &__users-in-room {
            display: flex;
            align-items: center;
            position: relative;
            height: 100%;

            &__avatars {
                height: 100%;
                display: flex;
                align-items: center;
                & > :nth-child(2) {
                    transform: translateX(-40%);
                }
                & > :nth-child(3) {
                    transform: translateX(-80%);
                }
            }
            &__length-avatar {
                position: absolute;
                right: 25%;
                border-radius: 50%;
                color: var(--color-primary-background);
                background-color: pink;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 2px;
                font-size: 1.4rem;
            }
        }
    }
}
