.messages {
    display: grid;
    position: relative;
    font-size: 1.6rem;
    grid-template-rows: 60px auto var(--height-header, 60px);

    &.sticker {
        grid-template-rows: 60px auto 100px 60px;
    }

    & > .wrapper {
        transform: translateX(100%);
        background-color: inherit;
    }
}
